body {
  background-color: #f3f6fc;
  
}
.container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
 
}

.containerSmall {
  border-radius: 50px;
   margin: 30px;
  transform: 0.2s ease-in-out;
  cursor: pointer;
}
.containerSmall:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.clockFix {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}


nav {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: rgb(226, 227, 228, 0.8);

  overflow: hidden;
  position: fixed;
  top: 46px;
  width: 100%;
 
}
nav.link {
  display: block;
}

.link {
  text-transform: uppercase;
  padding: 8px 50px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
a.link {
  align-self: center;
}

.slidePicture {
  width: 100%;
}

.main .center {
  position: relative;

  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;

  }
.main .center h1 {
  color: black;
  font-size: calc(16px + 1.2vw);
  font-weight: 700;
  margin-bottom: 30px;
  position: absolute;
  animation: showLeft 2s;
margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 5px 5px 10px white;
  }
    
@keyframes showLeft {
  from {left:-100%;}
  to {left:0;}
  }
    
   
    
.buttons .buttonContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  width: 100%;
  }
.buttons .buttonContainer .prevButton {
  margin-left: 5%;
  position: relative;
  animation: showLeft 1s;
  z-index: 1;
  }
@keyframes showLeft {
  from {left:-100%;}
  to {left:0;}
  }
.buttons .buttonContainer .nextButton {
  margin-right: 5%;
  position: relative;
  animation: showRight 1s;
  z-index: 1;
  }
@keyframes showRight {
  from {right:-100%;}
  to {right:0;}
  }
.prevButton  {
  background: transparent;
  border: none;
  box-shadow: 2px 2px 4px;
  }
.nextButton {
  background: transparent;
  border: none;
  box-shadow: 2px 2px 4px;
  }
  .prevImg {
    width: 100px;
  }
  .nextImg {
    width: 100px;
  }

.containerSmall {
  display: flex;
  flex-direction: column;
}


.clothesName {
  font-family: 'Open Sans', sans-serif;
 align-self: center;

  }
 
.clothesPrice {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 5px;
  margin: 5px;  
  align-self: center;
  }
  .minusPlus {
    align-self: center ;
  }
  .minusPlusChild span {
    font-size: 25px;
  }
  .minusPlusChild button  {
padding: 7px;
margin: 7px;
font-size: 20px;
font-weight: bolder;
border-radius: 15px;
color: white;
background-color: rgb(131, 122, 122);
cursor: pointer;
  }

  .addToCartButton  {
     align-self: center;
     margin-bottom: 8px;
    
  }
  .addToCartButton button{ 
    color: white;
    background-color: rgb(131, 122, 122);
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    cursor: pointer;
   
  }

.cont {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  
  
}
.change {
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.catalog {
  width: 220px;
 padding: 10px;
  margin: 20px;
}

.about {
  display: flex;
  
}
.description { 
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}

.aboutPicture {
  width: 70vw;

  
}
.showMore {
  font-family: 'Chivo', sans-serif;
  font-size: 25px;
  border: none;
  background-color: rgb(248, 243, 238);
  color: rgb(9, 155, 192);
}

.cartIcon {
  width: 30px;
}
.categoryButton {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  
}
.categoryButton:hover {
  background-color: #efe9ef;
}
.categoryButtonSelected {
color: white;
background-color: rgb(46, 46, 48);
border: 2px solid black;
padding: 5px;
margin: 5px;
cursor: pointer;
}
.categoryButtonSelected:hover {
  background-color: green;
}

.deleteIcon {
  width: 50px;
  cursor: pointer;
}
.deleteIcon:hover {
  width: 60px;
}

.deleteAll {
  margin-left: 250px;
  cursor: pointer;
  background-color: rgba(116, 112, 112, 0.2);
  border-radius: 30px;
  padding: 5px;
}
.deleteSpan {
  font-size: 30px;
  padding: 10px;
}
.trashIcon {
  width: 70px;
  cursor: pointer;
}
.trashIcon:hover {
  width: 80px;
}

.modalCart {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.totalRow {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 15px;
  align-items: center;
}
.totalRow p {
  font-size: 30px;
  font-weight: 900;
}

table, td, th {
  padding: 10px;
  margin: 5px;
  width: 100vw;
}








@media all and (max-width: 1280px) {
  .container1 {
    padding: 5px;
  }
  .change {
    padding: 5px;
    margin: 5px;
     }
  .deleteAll {
    margin-left: 80px;
   }

  .about {
    display: flex;
    flex-direction: column;
  }
  .aboutPicture {
    height: 100% ;
    width: 100%;
  }
 

}





@media all and (max-width: 912px) {
  .change {
    padding: 2px;
    margin: 2px;
     }
.cont {
  padding: 2px;
}
  
  nav {
    padding: 5px;
  }
  .link {
    padding: 7px 25px;
    font-size: 16px;
  }
  .prevImg {
    width: 80px;
  }
  .nextImg {
    width: 80px;
  }
  .container1 {
    padding: 20px;
    margin: 15px;
  }
  .catalog {
    width: 250px;
    height: 380px;
    margin: 18px;
  }
}

@media all and (max-width: 768px)  {
  .container1 {
    margin: 8px;
    padding: 8px ;
  }
  .containerSmall {
    margin: 15px;
  }
  p.categoryButton {
    font-size: 20px;
  }
 .deleteAll {
  margin-left: 60px;
 }
 .deleteSpan {
  font-size: 20px ;
 }
}

@media all and (max-width: 600px) {
  p.categoryButton {
    font-size: 15px;
  }
  .container1 {
    margin: 3px;
    padding: 1px;
  }
  .catalog {
    width: 200px;
    height: 300px;
  }
}

@media all and (max-width: 540px)  {
  .containerSmall {
    margin: 5px;
    width: 250px;
  }
  .catalog {
    width: 190px;
    height: 280px;
    margin: 10px;
    padding: 25px;
  }

  .link {
    padding: 7px 15px;
    font-size: 14px;
  }
  .prevImg {
    width: 50px;
  }
  .nextImg {
    width: 50px;
  }

  .catalog {
    width: 175px;
    height: 260px;
    
  }
  .clothesName {
   font-size: 15px;
    }
  .categoryButton {
    margin: 3px;
    padding: 3px;
  }
    .change {
      padding: 1px;
      margin: 1px;
  font-size: 7px;
    }
    .description {
      font-size: 20px;
    }
    .showMore {
      font-size: 20px;
    }
}


@media all and (max-width: 414px) {
 .container1 {
  margin: 1px;
 }
  .containerSmall {
    margin: 1px;
    width: 200px;
  }
  .catalog {
    width: 165px;
    height: 250px;
    padding: 20px;
  }
  a.link {
    font-size: 12px;
    padding: 5px;
  }
  .deleteAll {
    margin-left: 40px;
    padding: 2px;
  }
  .cartIcon {
    width: 20px;
  }
  .catalog {
  
    width: 140px;
    height: 180px;
  }
}

@media all and (max-width: 393px)  {
  .containerSmall {
  
    width: 190px;
  }
  .catalog {
   
    padding: 15px;
  }
  h2 {
    font-size: 17px;
  }
}

@media all and (max-width: 375px) {
  a.link {
    font-size: 10px;
    padding: 4px;
  }
  
  .containerSmall {
    margin: 1px;
    width: 170px;
  }
  .catalog {
    width: 130px;
    height: 200px;
    padding: 8px;
  }
 }

 @media all and (max-width: 360px) {
  .containerSmall {
    margin: 1px;
    width: 320px;
  }
  .catalog {
    width: 240px;
    height: 360px;
    padding: 30px;
  }
  h2 {
    font-size: 25px;
  }
 }
 @media all and (max-width: 320px) {
  .containerSmall {
    
    width: 300px;
  }
  .catalog {
    width: 240px;
    height: 340px;
    padding: 20px;
  }
 }

@media all and (max-width: 280px) {
  .containerSmall {
    margin: 1px;
    width: 270px;
  }
  .catalog {
    width: 190px;
    height: 255px;
    padding: 30px;
  }
  p.categoryButton {
    font-size: 10px;
  }
  .deleteAll {
    margin-left: 20px;
 
  }
  .link {
    padding: 7px 10px;
    font-size: 12px;
  }
  .prevImg {
    width: 40px;
  }
  .nextImg {
    width: 40px;
  }
  .description {
    font-size: 15px;
  }
  .showMore {
    font-size: 15px;
  }
}