
* {
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    height: 6vh;
    background-color: #f3f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .clock {
    position: relative;
    margin: a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d0d0e;
    text-shadow: 1px 1px 1px;
  }
  .line {
    display: flex;
  }
  .sale {
    align-self: center;
    color: red;
    padding: 12px;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
  }
  .clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  .clock section p {
    font-size: 1.2rem;
  }
  .clock section small {
    color: rgb(19, 17, 17);
    text-shadow: none;
  }
  
  @media all and (max-width: 800px) {
    .sale {
      padding: 10px;
      font-size: 20px;
    }
    .clock section p {
      font-size: 0.8rem;
    }
  }

  @media all and (max-width: 500px) {
    .sale {
      padding: 6px;
      font-size: 18px;
    }
    .clock section p {
      font-size: 0.9rem;
    }
    .clock section small {
      font-size: 0.9rem;
    }
  }
  @media all and (max-width: 320px) {
    .sale {
      padding: 6px;
      font-size: 15px;
    }
    .clock section p {
      font-size: 0.7rem;
    }
    .clock section small {
      font-size: 0.7rem;
    }
  }